# MicroStrategy API Integration Configuration
# Configurar estas variables en el entorno del servidor o máquina operativa
MSTR_BASE_URL=https://env-i921eu432wwh4k73.cloud.strategy.com/MicroStrategyLibrary/api
MSTR_PROJECT_NAME=Virtualsoft
MSTR_PROJECT_ID=
MSTR_REPORT_ID=B8B21D45184E89DD2A5A0898940B66A1
MSTR_USERNAME=
MSTR_PASSWORD=
