# Ignore large video files exceeding GitHub size limits 
Procesos/*.mp4
*.mp4
n o d e _ m o d u l e s /  
 p a c k a g e . j s o n  
 p a c k a g e - l o c k . j s o n  
 node_modules/
package.json
package-lock.json
clean.js
temp_mstr_raw_full.json
temp_*.json
*.log
.firebase/
